/**
 * Auteurs : Boutrois Romain & Morel Guillaume
 * Description : CSS de l'interface de développement
 */

html, body 
{
    max-width: 100%;
    overflow-x: hidden;
}

#optionsZone
{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

#devZone, #leftZone
{
    display: flex;
}

#content_code
{
    width: 40%;
    height: 600px;
    margin-left: 20px;
    margin-right:10px;
    float:left;
    margin-top: 50px;
}

#blockly-div
{
    width: 55%;
    height: 600px;
    margin-left: 20px;
    margin-right:10px;
    float:left;
    margin-top: 50px;
}

#content_code
{
    background-color: whitesmoke;
}

.button-div
{
    float: right;
    margin-top: 550px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.button
{
    background-color: royalblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body 
{
    background: #efefef;
    font-family: arial;
    font-size: 18px;
}

.inputfile 
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label 
{
    background-color: royalblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.inputfile:focus + label,
.inputfile + label:hover 
{
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover
{
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-mode
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #333;
    color: #efefef;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

body.dark
{
    background-color: #333;
}

body.dark .button-mode
{
    background: #efefef;
    color: #333;
    border: 1px solid #efefef;

}

body.dark .button
{
    background-color: rgb(33, 49, 95);
    color: rgb(197, 143, 143);
}

body.dark .button:hover
{
    background-color: rgb(34, 150, 5);
    color: rgb(255, 255, 255);
}

body.dark .inputfile + label 
{
    background-color: rgb(33, 49, 95);
    color: rgb(197, 143, 143);
}

body.dark label:hover 
{
    background-color: rgb(34, 150, 5);
    color: rgb(255, 255, 255);
}

body.dark #content_code
{
    background-color: rgb(94, 124, 117);
    color: azure;
}

body.dark .blocklySvg
{
    background-color: rgb(94, 124, 117);
}

/*
body.dark
{
    background-color: rgb(44, 58, 55);
}*/